@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lilita+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap%27');

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh auto;
}
.logo h1{
    font-weight: 800;
    font-size: 18px;
    color: #334747;
    font-family: 'Lilita One', cursive;
}


.perfil img{
    height: 80px;
    margin: 0 auto;
}
.perfil p{
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
.ubicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.menu a{
    padding: 15px;
    font-size: 35px;
    transition: 0.5s all;
}
.menu a:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.faq{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 10%;
}