h2{
    font-size: 14px;
    font-weight: bolder;
    margin: 15px auto;
    text-align: center;
    width: 70%;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px;
}

.perfiles-recomendados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    overflow-y: visible;
}
.perfil-recomendado{
    margin: 10px 0;
}
.perfil-recomendado h3, .perfil-recomendado p{
    font-size: 13px;
    font-weight: bold;
}
.perfil-recomendado img{
    width: 175px;
}