@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap%27');

@tailwind base;
@tailwind components;
@tailwind utilities;

/***** colors: ******
/////////////////////

SideBars: #FF929D
red: #ed3434
Icons: #FFEAEA
swipeLike: #72E52D
swipeX: #1F9AFF

/////////////////////
********************/

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
    @apply bg-[#FFEAEA] min-h-screen text-black
}

input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
	resize: none;
}

@layer components {
	
	/*** container clases ***/
	
	.formModalContainer {
		animation: fadeInTop 250ms linear forwards;
	}

	.formModalContainer.active {
		animation: fadeOutTop 250ms linear forwards;
	}

	.sideBarContainer {
		width: 15%;
	}

	.swiperContainer {
		width: 65%;
	}

	.recommendedContainer {
		width: 20%;
	}

	.recommendedImgContainer {
		gap: 0.5rem;
		margin-top: 1.1rem;
	}

	.swiperInfoContainer {
		animation: fadeOpacity 3s linear forwards;
	}
	
	/*** component clases ***/

	.formModalSuccess {
		background: rgb(251,155,195);
		background: linear-gradient(-180deg, rgba(251,155,195,1) 0%, rgba(255,203,203,1) 30%, rgba(255,203,203,1) 70%, rgba(251,155,195,1) 100%);
	}

	.sideBarImg {
		width: 7rem;
	}

	.sideBarBox:hover p {
		color: #FFEAEA;
	}

	.sideBarIcon {
		filter:drop-shadow(0.15rem 0.15rem 0.15rem rgb(237, 52, 52, 0.75));
		transition: all 150ms;
	}

	.recommendedImg {
		width: 7rem;
	}

	.recommendedCard:hover img {
		filter: drop-shadow(0.12rem 0.12rem 0.12rem rgb(237, 52, 52, 0.9));
	}

	.sliderCounter {
		@apply h-[2.25px] w-14 md:w-20 rounded-full
	}

	.loadingLogo {
		animation: scaleUpAndDown 750ms linear infinite;
	}
	
	/*** buttons ***/
	
	.btnRegister {
		transition: all 150ms ease;
	}

	.btnGoogle:hover {
		transform: translateY(-0.15rem);
		filter: drop-shadow(0.15rem 0.15rem 0.1rem rgb(237, 52, 52, 0.75));
	}

	.btnMail:hover {
		transform: translateY(-0.15rem);
		filter: drop-shadow(0.15rem 0.15rem 0.1rem rgba(0, 0, 0, 0.5));
	}

	.btnRecommended:hover {
		filter: drop-shadow(0.15rem 0.15rem 0.1rem rgb(237, 52, 52, 0.75));
	}

	.btnSubmit {
		background: rgb(255,146,157);
		background: linear-gradient(-180deg, rgba(255,146,157,1) 0%, rgba(237,52,52,1) 100%);
	}

	/*** utility clases ***/

	.gradientBg {
		background: rgb(255,203,203);
		background: linear-gradient(-180deg, rgba(255,203,203,1) 40%, rgba(251,155,195,1) 100%);
	}

	.btnGradient {
		background: rgb(255,203,203);
		background: linear-gradient(-180deg, rgba(255,234,234,1)  40%, rgba(255,203,203,1) 100%);
	}

	.cardShadow {
		filter: drop-shadow(0.15rem 0.15rem 0.1rem rgb(237, 52, 52, 0.6));
	}

	.textShadow {
		text-shadow: 0.075rem 0.075rem 0.15rem #000;
	}

	.textShadowSm {
		text-shadow: 0.075rem 0.075rem 0.01rem rgb(0, 0, 0, 0.15);
	}

	.iconShadow {
		filter: drop-shadow(0.075rem 0.075rem 0.15rem rgb(0, 0, 0, 0.5));
	}

	.iconShadowSm {
		filter: drop-shadow(0.05rem 0.05rem 0.1rem rgb(0, 15, 84, 0.5));
	}

	.imgShadow {
		filter: drop-shadow(0.12rem 0.12rem 0.12rem rgb(237, 52, 52, 0.5));
	}

	.noSelect {
		user-select: none;
	}

	.noSelect:focus {
		outline: none;
		background-color: transparent;
	}

	/*** media queries ***/

	@media only screen and (min-width: 1800px) {
	
		.feedContainer {
			padding: 0 25rem 0 25rem;
		}
	}

	@media only screen and (max-width: 1000px) {
        
		.sideBarContainer {
            width: 17%;
        }

		.swiperContainer {
            width: 61%;
        }

		.recommendedContainer {
            width: 22%;
        }

		.recommendedImgContainer {
			gap: 2.25rem;
			margin-top: 2rem;
		}

		.sideBarImg {
			width: 5rem;
		}

		.recommendedImg {
			width: 5rem;
		}
    }

	@media only screen and (max-width: 767px) {
        
		.swiperContainer {
            width: 100%;
        }
		
		.gradientBg {
			background: rgb(251,155,195);
			background: linear-gradient(-90deg, rgba(251,155,195,1) 0%, rgba(255,203,203,1) 30%, rgba(255,203,203,1) 70%, rgba(251,155,195,1) 100%);
		}
    }
	
	/*** animations ***/
	
	@keyframes scaleUpAndDown { 
		0% {
			scale: 1;
		}
		25% {
			scale: 1.025;
		}
		50% {
			scale: 1;
		}
		75% {
			scale: 0.975;
		}
		100% {
			scale: 1;
		}
	}

	@keyframes fadeInTop {
		0% {
			opacity: 0;
			top: -50px;
		}
		50% {
			opacity: 0.5;
			top: -25px;
		}
		100% {
			opacity: 1;
			top: 0;
		}
	}

	@keyframes fadeOutTop {
		0% {
			opacity: 1;
			top: 0;
		}
		50% {
			opacity: 0.25;
			top: -25px;
		}
		100% {
			opacity: 0;
			top: -50px;
		}
	}

	@keyframes fadeOpacity { 
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0.7;
		}
	}
}